<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnsn_oHf7lLLL1yy_0AfMyON6_MEpWxh8</string>
	<key>GCM_SENDER_ID</key>
	<string>489855286154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adminPannel</string>
	<key>PROJECT_ID</key>
	<string>ecommercewebapp-40cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommercewebapp-40cb7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489855286154:ios:b1f4511c7f44d508e16673</string>
</dict>
</plist>